body {
  display:flex;
  max-width:1000px;
  background-color: white

}
.logo {
  display:flex;
  position:absolute; left:0; top:50;
  align-content:center;
  margin-left: 50px;
  margin-top:50px;
  height:40px;
  width:auto;

}
title {
  display:flex;
  position:fixed;
  height: 250px;
  width: 1200px;
  background:black;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  justify-content:right;
  align-items: center;
  margin-top: -100px;
  margin-left:-10px;
}

nav {
  display: flex;
  position: fixed;
  height: 70px;
  width: 1200px;
  background:purple;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  justify-content:right;
  align-items: left;
  margin-top:100px;
  margin-left:-10px;
}

nav:hover {
  background:#36a936
}

nav h1 {
  align-items: center;
  color: #ffefd5;
  display: flex;
  padding: 0 20px;
  width: 1000px;
}

h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:black;


}



.Form {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

h4{
  display:inline-block;
  color:white;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding-right:30px;
}



input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}
button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
}
button:hover {
  background-color: #1fca13;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}
